#giphy-header{
    font-size: 4em;
    color: blue;
    background-color: white;
    text-align: center;


}

#giphy-intro{
    font-size: 2em;
    color: black;
    background-color: grey;
}
body{
    background-image: url("../images/giphynewimage.jpeg");
 }